.git
.gitignore
node_modules
**/node_modules
**/dist
**/.next
.next
out
coverage
cdk.out
.localstack
tmp
temp
_exports
*.zip
*.7z
*.rar
*.tar
*.gz
*.log
phase7b-cache-refresh-diagnostics.txt
Dockerfile*
infra/compose
